@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="book-container">
    @foreach (var book in Model)
    {
        <div class="movie">
            <h1>Name = @book.Name</h1>
            <p>Description = @book.Description</p>
            <p>Author Name= @book.Author?.Name</p>
            <p>Category = @book.category?.ToString()</p>
        </div>
    }
</div>