html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.book-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.book-container .movie {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.book-container .movie .image-content img {
    max-width: 200px;
    border: .2rem solid Black;
    box-shadow: rgba(0,0,0,70%) 5px 5px;
}

.book-container .movie .text-content {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

.btn-group {
    display: flex;
    gap: 1rem;
}

.btn-group a {
    text-decoration: none;
    padding: .5rem 1rem;
    border: 1px solid rgba(0,0,0,30%);

}

.btn-group .edit-btn {
    color: darkgreen;
}

.btn-group .delete-btn {
    color: red;
} 


.btn-group .cancel-btn{
    color: #FFF;
    background: red;
}
.submit-btn{
    width:fit-content;
    border: 1px solid rgba(0,0,0,30%);
    background: green;
    color: #FFF;
}
.submit-form{
    display: flex;
    gap:1rem;
}
    